* {  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
display: flex;
overflow-y: scroll;
align-items: center;
justify-content: center;
width: 100vw;
background: repeating-linear-gradient( 45deg, #780202, #c93e3e, #dbd6cf, #e8e4e4);
background-size: 300% 300%;
animation: colors calc(100vw * 5) 17s ease infinite;
}

body .content {
margin: 1.2rem;
}

.content h1 {
padding: 0;
margin: 1rem;
color: white;
text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

@keyframes colors {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}

}


@media screen and (min-width: 350px) {
  .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
  }
}
