.pokemons {
    display: grid;
    padding: 0;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    list-style: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), regba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.normal {
    background-color: #a5a59b;
}

.grass {
    background-color: #75b258;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #5c82db;
}

.electric {
    background-color: #ecca45;
}

.ice {
    background-color: #85c2c5;
}

.ground {
    background-color: #c0a252;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #b93c36;
}

.psychic {
    background-color: #e16a8e;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .10rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    background-color: #9b78dc;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 350px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}